DB_HOST=localhost
DB_USER=ubah-ini
DB_PASSWORD=ubah-ini
DB_NAME=ubah-ini
DB_PORT=5432
SERVER_PORT=8080
API_KEY=ubah-ini

DATABASE_URL=postgresql://ubah-ini:ubah-ini@localhost:5432/ubah-ini?sslmode=disable